<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/default :: rapid(rapid_head=~{::head}, rapid_content=~{::body})">
<head>
    <title>新闻资讯</title>
</head>
<body>
    <!--Inner Banner Start-->
    <div class="innner_banner">
        <div class="container">
            <h3>新闻资讯</h3>
            <!-- <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">blog</a></li>
                <li class="active"><span>blog grid 2</span></li>
            </ul> -->
        </div>
    </div>
    <!--Inner Banner End-->
    
    <div class="kode_content_wrap">
        <section class="kf_blog2">
            <div class="container">
                <!--Featured 3 Slider Start-->
                <div class="kf_featured_wrap3">
                    <div class="row">
                        <div class="col-md-9 col-sm-9">
                            <!--Kf News Dec2 Start-->
                            <div class="kf_news_dec2 my-news">
                                <article>
                                    <header class="title">
                                        <h3>
                                            <a href="#">泛足球2019年度纪录片，数据化记录泛足球这一整年民间足球赛事的发展及规模</a>
                                        </h3>
                                        <span>Posted On: 11 September, 2017</span>
                                    </header>
                                    <div class="clearfix"></div>
                                    <div class="content clearfix">
                                        <p style="text-align:justify;"><iframe style="width: 670px;height: 377px;" frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=l0946l8al51" allowFullScreen="true"></iframe></p><p style="text-align:justify;">&nbsp;</p><p style="text-align:justify;">疫情的爆发，</p><p style="text-align:justify;">整个社会被按上了暂停键...</p><p style="text-align:justify;">作为公司2019年度纪录片，</p><p style="text-align:justify;">数据化记录泛足球这一整年民间足球赛事的发展及规模，</p><p style="text-align:justify;">也一直没有发布...</p><p style="text-align:justify;">&nbsp;</p><p style="text-align:justify;">医护、消防、警察、交警、保安、快递、外卖、司机、社区志愿者等等...</p><p style="text-align:justify;">他们都是抗击疫情守护人民的超级英雄。</p><p style="text-align:justify;">&nbsp;</p><p style="text-align:justify;">我，也一直在思考，</p><p style="text-align:justify;">足球给社会能带来什么？</p>
                                    </div>
                                </article>

                                <hr>

                                <!-- related post -->
                                <section>
                                    <h3 class="section-heading">相关内容</h3>
                                    <ul class="list-unstyled related-post-list row">
                                        <li class="col-md-4">
                                            <figure class="featured-image">
                                                <a href="/news/1">
                                                    <img src="/upload/c8248d8419d7408288a0e8b8f2659c30.png" class="img-responsive" alt="Related Post">
                                                </a>
                                            </figure>
                                            <a href="/news/1" class="post-title">泛足球2019年度纪录片</a>
                                        </li>
                                        <li class="col-md-4">
                                            <figure class="featured-image">
                                                <a href="/news/2">
                                                    <img src="/upload/68cc8551562f4a9d8de73b28268f5324.png" class="img-responsive" alt="Related Post">
                                                </a>
                                            </figure>
                                            <a href="/news/2" class="post-title">全国大赛我们来了</a>
                                        </li>
                                    </ul>
                                </section>
                                <!-- end related post -->
                            </div>
                            <!--Kf News Dec2 End-->
                        </div>
                        <div class="col-md-3 col-sm-3">
                        </div>
                    </div>
                </div>
                <!--Featured 3 Slider End-->
            </div>
        </section>
    </div>
    <!--Main Content Wrap End-->
</body>
</html>
