<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/default :: rapid(rapid_head=~{::head}, rapid_content=~{::body})">
<head>
    <title>新闻资讯</title>
</head>
<body>
    <!--Inner Banner Start-->
    <div class="innner_banner">
        <div class="container">
            <h3>新闻资讯</h3>
            <!-- <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">blog</a></li>
                <li class="active"><span>blog grid 2</span></li>
            </ul> -->
        </div>
    </div>
    <!--Inner Banner End-->
    
    <div class="kode_content_wrap">
        <section class="kf_blog2">
            <div class="container">
                <!--Featured 3 Slider Start-->
                <div class="kf_featured_wrap3">
                    <div class="row">
                        <div class="col-md-9 col-sm-9">
                            <!--Kf News Dec2 Start-->
                            <div class="kf_news_dec2 my-news">
                                <article>
                                    <header class="title">
                                        <h3>
                                            <a href="#">终于等到你，还好没放弃 — 2020全国大赛</a>
                                        </h3>
                                        <span>Posted On: 11 September, 2017</span>
                                    </header>
                                    <div class="clearfix"></div>
                                    <div class="content clearfix">
                                        <p style="text-align:justify;">全国大赛举办时间为端午节假期，赛程两天（06.25—06.26）。举办地点为长沙月亮岛足球文化园，我在夏天等你！</p>
                                    </div>
                                </article>

                                <hr>

                                <!-- related post -->
                                <section>
                                    <h3 class="section-heading">相关内容</h3>
                                    <ul class="list-unstyled related-post-list row">
                                        <li class="col-md-4">
                                            <figure class="featured-image">
                                                <a href="/news/1">
                                                    <img src="/upload/c8248d8419d7408288a0e8b8f2659c30.png" class="img-responsive" alt="Related Post">
                                                </a>
                                            </figure>
                                            <a href="/news/1" class="post-title">泛足球2019年度纪录片</a>
                                        </li>
                                        <li class="col-md-4">
                                            <figure class="featured-image">
                                                <a href="/news/2">
                                                    <img src="/upload/68cc8551562f4a9d8de73b28268f5324.png" class="img-responsive" alt="Related Post">
                                                </a>
                                            </figure>
                                            <a href="/news/2" class="post-title">全国大赛我们来了</a>
                                        </li>
                                    </ul>
                                </section>
                                <!-- end related post -->
                            </div>
                            <!--Kf News Dec2 End-->
                        </div>
                        <div class="col-md-3 col-sm-3">
                        </div>
                    </div>
                </div>
                <!--Featured 3 Slider End-->
            </div>
        </section>
    </div>
    <!--Main Content Wrap End-->
</body>
</html>
