<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        @media (max-width: 991px) {
	        footer .widget_link2 .links_dec2:first-of-type {
	            margin-top: 0 !important;
	        }
	        footer .widget_link2 .col-md-6:first-of-type li:last-child {
	            padding-bottom: 10px !important;
	            border-bottom: 1px solid #4e4e4e !important;
	        }
	        footer .widget_link2 .col-md-6:not(:first-of-type) li:first-child {
	            padding-top: 11px !important;
	        }
        }
    </style>
</head>
<body>
    <!--Footer Wrap Start-->
    <footer class="kode_footer_2 my-footer">
        <div class="container">
            <!-- <span class="go-up">
                <i class="fa fa-angle-up"></i>
            </span> -->
            <div class="row">
                <div class="col-md-3">
                    <!--Widget Text Start-->
                    <div class="widget widget_text">
                        <div class="logo">
                            <a href="#"><img src="/images/logo-gray.png" alt=""></a>
                        </div>
                        <p>星火燎原体育文化（北京）有限公司</p>
                        <ul class="kf_contact_meta">
                            <li>
                                <span class="icon-mail"></span>
                                <p>fun@funzuqiu.com</p>
                            </li>
                            <li>
                                <span class="icon-technology"></span>
                                <p style="font-size: 14px;">赛事咨询：135 2121 0725 杨超杰</p>
                            </li>
                            <li>
                                <span class="icon-technology"></span>
                                <p style="font-size: 14px;">商务咨询：132 6016 0730 侯昭</p>
                            </li>
                        </ul>
                    </div>
                    <!--Widget Text End-->
                </div>
                <div class="col-md-3">
                    <div class="widget widget_link2">
                        <h2 class="kf_hd7">服务</h2>
                        <!--Widget Recent Post Start-->
                        <ul class="links_dec links_dec2">
                            <li><a href="/ffu/introduce">泛足联</a></li>
                            <li><a href="/ffu/join">泛足联会员</a></li>
                            <li><a href="http://www.funzuqiu.com" target="_blank">泛足球官网</a></li>
                            <li><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.funzuqiu.funapp" target="_blank">泛足球APP</a></li>
                            <li><a href="http://live.funzuqiu.com/app" target="_blank">泛赛通APP</a></li>
                            <li><a href="http://news.funzuqiu.com/doc/match/index.html" target="_blank">赛事系统</a></li>
                            <li><a href="http://news.funzuqiu.com/doc/stadium/index.html" target="_blank">场馆系统</a></li>
                        </ul>
                        <!--Widget Recent Post End-->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget widget_link2">
                        <h2 class="kf_hd7">合作伙伴</h2>
                        <!--Widget Recent Post Start-->
                        <div class="row">
                            <div class="col-md-6">
		                        <ul class="links_dec links_dec2">
		                            <li><a href="http://www.xiaolizi.net.cn/" target="_blank">小李子</a></li>
		                            <li><a href="https://www.coca-cola.com.cn/" target="_blank">可口可乐中国</a></li>
		                            <li><a href="http://www.insports.tech/" target="_blank">体育保</a></li>
		                            <li><a href="http://sxqhl.com/" target="_blank">氢活力</a></li>
		                            <li><a href="http://www.wayxi.com/" target="_blank">威习科技</a></li>
		                            <li><a href="javascript:void(0)" target="_blank">月亮岛</a></li>
		                            <li><a href="javascript:void(0)" target="_blank">肆客体育</a></li>
		                        </ul>
                            </div>
                            <div class="col-md-6">
		                        <ul class="links_dec links_dec2">
		                            <li><a href="https://sports.qq.com/" target="_blank">腾讯体育</a></li>
		                            <li><a href="https://www.iqiyi.com/" target="_blank">爱奇艺</a></li>
		                            <li><a href="javascript:void(0)" target="_blank">黑马体育</a></li>
		                            <li><a href="https://www.joma-sport.com/zh" target="_blank">Joma</a></li>
		                            <li><a href="http://www.jingpai.com/" target="_blank">劲牌</a></li>
		                            <li><a href="javascript:void(0)" target="_blank">维也纳酒店</a></li>
		                            <li><a href="javascript:void(0)" target="_blank">食根源</a></li>
		                        </ul>
                            </div>
                        </div>
                        <!--Widget Recent Post End-->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer Wrap End-->
    <!--Copy Right Wrap Start-->
    <div class="copy_right3">
        <div class="container">
            <p>
                <span style="white-space: nowrap;">Copyright © 2020 <a href="http://funzuqiu.com" target="_blank" class="text-white">Funzuqiu.com</a></span>
                <span style="white-space: nowrap;">
                	<a href="http://beian.miit.gov.cn" target="_blank" rel="nofollow" class="text-white">京ICP备15057056号-1</a>
                </span>
                <span style="white-space: nowrap;">
					<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802031881" target="_blank" rel="nofollow" style="position: relative;padding-left: 25px;">
		       			<img src="/static/images/jgwab.png" style="position: absolute;transform: translateY(-50%);left: 0;top: 50%;">
		       			<span>京公网安备 11010802031881号</span>
		   			</a>
		   		</span>
            </p>
            <ul class="kf_social3" style="display: none;">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div>
    </div>
    <!--Copy Right Wrap End-->
</body>
</html>
