<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/default :: rapid(rapid_head=~{::head}, rapid_content=~{::body})">
<head>
    <title>新闻资讯</title>
</head>
<body>
    <!--Inner Banner Start-->
    <div class="innner_banner">
        <div class="container">
            <h3>新闻资讯</h3>
            <!-- <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">blog</a></li>
                <li class="active"><span>blog grid 2</span></li>
            </ul> -->
        </div>
    </div>
    <!--Inner Banner End-->
    
    <div class="kode_content_wrap">
        <section class="kf_blog2">
            <div class="container">
                <!--Featured 3 Slider Start-->
                <div class="kf_featured_wrap2 my-news">
                    <div class="row">
                        <div class="col-md-9 col-sm-9">
                            <!--Featured 2 thumb Start-->
                            <div class="row">
                                <div class="col-sm-5">
                                    <figure class="featured-image">
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=751" target="_blank">
                                            <img src="/upload/news/f543554df17e4ff38532e3abed600a0f.png" alt="" class="img-responsive">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-sm-7">
                                    <div class="title">
                                        <h3><a href="http://mp.funzuqiu.com/home/news/detail?nid=751" target="_blank">定了！全新五级赛事体系</a></h3>
                                        <span>2020-04-22</span>
                                        <p>根据各地足球爱好者的广泛呼声，2020年我们建立了泛足联概念体系，2021年赛事升级的全国大赛也正在全面筹备中。</p>
                                    </div>
                                </div>
                            </div>
                            <!--Featured 2 thumb End-->

                            <hr>

                            <!--Featured 2 thumb Start-->
                            <div class="row">
                                <div class="col-sm-5">
                                    <figure class="featured-image">
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=780" target="_blank">
                                            <img src="/upload/index/b454ea53a8c7464d96e0b94239fdf424.png" alt="" class="img-responsive">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-sm-7">
                                    <div class="title">
                                        <h3><a href="http://mp.funzuqiu.com/home/news/detail?nid=780" target="_blank">小李子·2020泛足联全国大赛长沙攻略篇</a></h3>
                                        <span>2020-05-27</span>
                                        <p>小李子·2020泛足球大赛开赛在即，届时来自全国各个城市的十六支冠军球队齐聚星城，届时以青春、梦想的名义一同见证冠军的诞生！</p>
                                    </div>
                                </div>
                            </div>
                            <!--Featured 2 thumb End-->

                            <hr>
                            
                            <!--Featured 2 thumb Start-->
                            <div class="row">
                                <div class="col-sm-5">
                                    <figure class="featured-image">
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=801" target="_blank">
                                            <img src="/upload/index/20200609121015.jpg" alt="" class="img-responsive">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-sm-7">
                                    <div class="title">
                                        <h3><a href="http://mp.funzuqiu.com/home/news/detail?nid=801" target="_blank">小李子·2020泛足联全国大赛抽签结果及比赛流程公布</a></h3>
                                        <span>2020-06-08</span>
                                        <p>6月6日，小李子·2020泛足联全国大赛抽签仪式在北京绿茵阳光足球会员俱乐部举行。</p>
                                    </div>
                                </div>
                            </div>
                            <!--Featured 2 thumb End-->
                            
                            <hr>
                            
                            <!--Featured 2 thumb Start-->
                            <div class="row">
                                <div class="col-sm-5">
                                    <figure class="featured-image">
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=788" target="_blank">
                                            <img src="/upload/index/b292ee076790467f9455c6a7dcbab0fa.jpg" alt="" class="img-responsive">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-sm-7">
                                    <div class="title">
                                        <h3><a href="http://mp.funzuqiu.com/home/news/detail?nid=788" target="_blank">泛足联入驻及服务指南</a></h3>
                                        <span>2020-06-02</span>
                                        <p>本文包含泛足联赛事入驻指导、四官系统使用指南、泛赛通APP使用指南、泛足球APP建队实名指南。</p>
                                    </div>
                                </div>
                            </div>
                            <!--Featured 2 thumb End-->
                            
                            <hr>
                            
                            <!--Kf Pagination Start-->
                            <!-- <div class="kode-pagination text-center">
                                <span class="page-numbers current">1</span>
                                <a class="page-numbers" href="#">2</a>
                                <a class="page-numbers" href="#">3</a>
                                <a class="page-numbers border_none" href="#">...</a>
                                <a class="page-numbers" href="#">18</a>
                                <a class="page-numbers" href="#">19</a>
                                <a class="page-numbers" href="#">20</a>
                            </div> -->
                            <!--Kf Pagination End-->
                        </div>

                        <div class="col-md-3 col-sm-3">
                        </div>
                    </div>
                </div>
                <!--Featured 3 Slider End-->
            </div>
        </section>
    </div>
    <!--Main Content Wrap End-->
</body>
</html>
