<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/default :: rapid(rapid_head=~{::head}, rapid_content=~{::body})">
<head>
    <title>省区赛</title>
</head>
<body>
    <!--Inner Banner Start-->
    <div class="innner_banner">
        <div class="container">
            <h3>省区赛</h3>
            <!-- <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">blog</a></li>
                <li class="active"><span>blog grid 2</span></li>
            </ul> -->
        </div>
    </div>
    <!--Inner Banner End-->

    <!--sub nav bar-->
    <div class="my-sub-nav kode_content_wrap">
        <div class="container">
            <!-- <span class="title">赛事介绍</span> -->
            <ul class="nav">
                <li class="active"><a href="/league/shengqusai/introduce">简介</a></li>
            </ul>
        </div>
    </div>
    
    <div class="kode_content_wrap">
        <section class="kf_blog2">
            <div class="container">
                <!--Featured 3 Slider Start-->
                <div class="kf_featured_wrap3">
                    <div class="row">
                        <div class="col-md-9 col-sm-9">
                            <!--Kf News Dec2 Start-->
                            <div class="kf_news_dec2 my-news">
                                <article>
                                    <div class="content clearfix">
                                        <p style="text-align:justify;">2021年泛足联全国大赛五级体系新增赛事体系，442个地级市冠军球队将代表自己的城市参加本城市区域的34个省区赛，并决出34个省区赛冠军。</p>
                                    </div>
                                </article>

                                <hr>

                                <!-- related post -->
                                <section>
                                    <h3 class="section-heading">相关内容</h3>
                                    <ul class="list-unstyled related-post-list row">
                                        <li class="col-md-4">
                                            <figure class="featured-image">
                                                <a href="http://mp.funzuqiu.com/home/news/detail?nid=751" target="_blank">
                                                    <img src="/upload/news/f543554df17e4ff38532e3abed600a0f.png" class="img-responsive" alt="Related Post">
                                                </a>
                                            </figure>
                                            <a href="http://mp.funzuqiu.com/home/news/detail?nid=751" target="_blank" class="post-title">定了！全新五级赛事体系</a>
                                        </li>
                                        <li class="col-md-4">
                                            <figure class="featured-image">
                                                <a href="http://mp.funzuqiu.com/home/news/detail?nid=743" target="_blank">
                                                    <img src="/upload/68cc8551562f4a9d8de73b28268f5324.png" class="img-responsive" alt="Related Post">
                                                </a>
                                            </figure>
                                            <a href="http://mp.funzuqiu.com/home/news/detail?nid=743" target="_blank" class="post-title">小李子·2020泛足联全国大赛</a>
                                        </li>
                                    </ul>
                                </section>
                                <!-- end related post -->
                            </div>
                            <!--Kf News Dec2 End-->
                        </div>
                        <div class="col-md-3 col-sm-3">
                        </div>
                    </div>
                </div>
                <!--Featured 3 Slider End-->
            </div>
        </section>
    </div>
    <!--Main Content Wrap End-->
</body>
</html>
