<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/default :: rapid(rapid_head=~{::head}, rapid_content=~{::body})">
<head>
    <title>泛足联</title>
</head>
<body>
    <!--Main Content Wrap Start-->
    <div class="kode_content_wrap">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <!--Featured Slider Start-->
                        <div class="kf_featured_slider my-news">
                            <!--Heading 1 Start-->
                            <!-- <h6 class="kf_hd1">
                                <span>热点新闻</span>
                            </h6> -->
                            <!--Heading 1 END-->
                            <div class="featured_slider">
                                <div>
                                    <div class="kf_featured_thumb">
                                        <figure class="featured-image single">
                                            <a href="http://mp.funzuqiu.com/home/news/detail?nid=808" target="_blank">
                                                <img src="/upload/index/20200609114825.jpg" alt="" class="img-responsive">
                                            </a>
                                        </figure>
                                        <!-- <div class="text">
                                            <h6>点亮中国计划</h6>                                
                                            <h2><a href="#">泛足联新闻发布会</a></h2>
                                            <span>10 Jun, 2020</span>
                                        </div> -->
                                    </div>
                                </div>
                                <div>
                                    <div class="kf_featured_thumb">
                                        <figure class="featured-image single">
                                            <a href="http://mp.funzuqiu.com/home/news/detail?nid=831" target="_blank">
                                                <img src="/upload/index/8c3d79951f27429989581d11a2f873a9.png" alt="" class="img-responsive">
                                            </a>
                                        </figure>
                                        <div class="text">
                                            <!-- <h6>2020全国大赛</h6> -->
                                            <h2><a href="http://mp.funzuqiu.com/home/news/detail?nid=831" target="_blank">全民赛事·泛足联全国巡回赛</a></h2>
                                            <!-- <span>11 Sep, 2017 / Anna Smith</span> -->
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="kf_featured_thumb">
                                        <figure class="featured-image single">
                                            <a href="http://mp.funzuqiu.com/home/news/detail?nid=743" target="_blank">
                                                <img src="/upload/index/ed12a7b6a3c8471ca70cbb4a372533b9.png" alt="" class="img-responsive">
                                            </a>
                                        </figure>
                                        <div class="text">
                                            <h6>2020全国大赛</h6>                                
                                            <h2><a href="http://mp.funzuqiu.com/home/news/detail?nid=743" target="_blank">终于等到你，还好没放弃</a></h2>
                                            <!-- <span>11 Sep, 2017 / Anna Smith</span> -->
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="kf_featured_thumb">
                                        <figure class="featured-image single">
                                            <a href="http://mp.funzuqiu.com/home/news/detail?nid=781" target="_blank">
                                                <img src="/upload/index/7d1117c251e1495ba0cc3ce3fcf357f9.jpg" alt="" class="img-responsive">
                                            </a>
                                        </figure>
                                        <div class="text">
                                            <!-- <h6>泛足球2019年度纪录片</h6> -->                                
                                            <h2><a href="http://mp.funzuqiu.com/home/news/detail?nid=781" target="_blank">小李子·2020泛足球全国大赛宣传片</a></h2>
                                            <!-- <span>11 Sep, 2017</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Featured Slider End-->

                        <!--Featured 2 Slider Start-->
                        <div class="kf_featured_wrap2 my-news">
                            <!--Heading 1 Start-->
                            <h6 class="kf_hd1" id="home-news-kf_hd1">
                                <span>热点新闻</span>
                            </h6>
                            <!--Heading 1 END-->
                            <!--Featured 2 thumb Start-->
                            <div class="row">
                                <div class="col-sm-5">
                                    <figure class="featured-image">
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=815" target="_blank">
                                            <img src="/upload/index/acdbcff1c8de400f2dfe00597e532075.jpg" alt="" class="img-responsive">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-sm-7">
                                    <div class="title">
                                        <h3><a href="http://mp.funzuqiu.com/home/news/detail?nid=815" target="_blank">共抗疫情，2020泛足联全国大赛推迟举行</a></h3>
                                        <span>2020-06-17</span>
                                        <p>为响应国家加强新冠疫情防控号召，保护人民群众生命健康，小李子·2020泛足联全国大赛将推迟举行。</p>
                                    </div>
                                </div>
                            </div>
                            <!--Featured 2 thumb End-->
                            <!--Featured 2 thumb Start-->
                            <div class="row">
                                <div class="col-sm-5">
                                    <figure class="featured-image">
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=830" target="_blank">
                                            <img src="/upload/index/a84f790bf6c944b9baf47228ac506b43.png" alt="" class="img-responsive">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-sm-7">
                                    <div class="title">
                                        <h3><a href="http://mp.funzuqiu.com/home/news/detail?nid=830" target="_blank">小李子·2020泛足联全国大赛“泛CP”投票结果公布</a></h3>
                                        <span>2020-07-01</span>
                                        <p>由泛足联组委会主办的小李子·2020泛足联全国大赛年度“泛CP”评选活动投票结果新鲜出炉啦，快来一睹前三名CP的风采吧！</p>
                                    </div>
                                </div>
                            </div>
                            <!--Featured 2 thumb End-->
                            <!--Featured 2 thumb Start-->
                            <div class="row">
                                <div class="col-sm-5">
                                    <figure class="featured-image">
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=816" target="_blank">
                                            <img src="/upload/index/7b6ddf73456c426590c95e8dc34f5022.png" alt="" class="img-responsive">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-sm-7">
                                    <div class="title">
                                        <h3><a href="http://mp.funzuqiu.com/home/news/detail?nid=816" target="_blank">不会真有人还没下载“泛赛通”吧？</a></h3>
                                        <span>2020-06-23</span>
                                        <p>20万用户都在用的专业直播助手，留住场上每个精彩瞬间。</p>
                                    </div>
                                </div>
                            </div>
                            <!--Featured 2 thumb End-->
                            <!--Featured 2 thumb Start-->
                            <div class="row">
                                <div class="col-sm-5">
                                    <figure class="featured-image">
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=829" target="_blank">
                                            <img src="/upload/index/6da76f2b12044554bf0144b5d686184d.png" alt="" class="img-responsive">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-sm-7">
                                    <div class="title">
                                        <h3><a href="http://mp.funzuqiu.com/home/news/detail?nid=829" target="_blank">泛足球四官应用，你必须Pick的执裁好物！</a></h3>
                                        <span>2020-06-30</span>
                                        <p>告别纸质记录，线上接管比赛，全场同步数据</p>
                                    </div>
                                </div>
                            </div>
                            <!--Featured 2 thumb End-->
                            <!--Featured 2 thumb Start-->
                            <div class="row">
                                <div class="col-sm-5">
                                    <figure class="featured-image">
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=801" target="_blank">
                                            <img src="/upload/index/20200609121015.jpg" alt="" class="img-responsive">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-sm-7">
                                    <div class="title">
                                        <h3><a href="http://mp.funzuqiu.com/home/news/detail?nid=801" target="_blank">小李子·2020泛足联全国大赛抽签结果及比赛流程公布</a></h3>
                                        <span>2020-06-08</span>
                                        <p>6月6日，小李子·2020泛足联全国大赛抽签仪式在北京绿茵阳光足球会员俱乐部举行。</p>
                                    </div>
                                </div>
                            </div>
                            <!--Featured 2 thumb End-->
                            <!--Featured 2 thumb Start-->
                            <div class="row">
                                <div class="col-sm-5">
                                    <figure class="featured-image">
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=780" target="_blank">
                                            <img src="/upload/index/b454ea53a8c7464d96e0b94239fdf424.png" alt="" class="img-responsive">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-sm-7">
                                    <div class="title">
                                        <h3><a href="http://mp.funzuqiu.com/home/news/detail?nid=780" target="_blank">小李子·2020泛足联全国大赛长沙攻略篇</a></h3>
                                        <span>2020-05-27</span>
                                        <p>小李子·2020泛足球大赛开赛在即，届时来自全国各个城市的十六支冠军球队齐聚星城，届时以青春、梦想的名义一同见证冠军的诞生！</p>
                                    </div>
                                </div>
                            </div>
                            <!--Featured 2 thumb End-->
                            <!--Featured 2 thumb Start-->
                            <div class="row">
                                <div class="col-sm-5">
                                    <figure class="featured-image">
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=788" target="_blank">
                                            <img src="/upload/index/b292ee076790467f9455c6a7dcbab0fa.jpg" alt="" class="img-responsive">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-sm-7">
                                    <div class="title">
                                        <h3><a href="http://mp.funzuqiu.com/home/news/detail?nid=788" target="_blank">泛足联入驻及服务指南</a></h3>
                                        <span>2020-06-02</span>
                                        <p>本文包含泛足联赛事入驻指导、四官系统使用指南、泛赛通APP使用指南、泛足球APP建队实名指南。</p>
                                    </div>
                                </div>
                            </div>
                            <!--Featured 2 thumb End-->
                            <!--Featured 2 thumb Start-->
                            <div class="row">
                                <div class="col-sm-5">
                                    <figure class="featured-image">
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=751" target="_blank">
                                            <img src="/upload/index/f543554df17e4ff38532e3abed600a0f.png" alt="" class="img-responsive">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-sm-7">
                                    <div class="title">
                                        <h3><a href="http://mp.funzuqiu.com/home/news/detail?nid=751" target="_blank">定了！全新五级赛事体系</a></h3>
                                        <span>2020-04-22</span>
                                        <p>根据各地足球爱好者的广泛呼声，2020年我们建立了泛足联概念体系，2021年赛事升级的全国大赛也正在全面筹备中。</p>
                                    </div>
                                </div>
                            </div>
                            <!--Featured 2 thumb End-->
                        </div>
                        <!--Featured 2 Slider End-->
                    </div>
                    <aside class="col-md-4">
                        <!--Widget Ranking Start-->
                        <div class="widget widget_recentnews gallery">
                            <!--Heading 1 Start-->
                            <h6 class="kf_hd1">
                                <span>全国大赛赞助商</span>
                            </h6>
                            <!--Heading 1 END-->
                            <div class="kf_border">
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://news.funzuqiu.com/home/news/detail?nid=794&hidestate=1" target="_blank">
                                            <img src="/upload/index/28e19d5e3dfd49a8ba3255d851d96a80.png" alt="">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://news.funzuqiu.com/home/news/detail?nid=794&hidestate=1" target="_blank">小李子</a></h6>
                                        <p>小李子独家冠名2020泛足联全国大赛</p>
                                        <!-- <em class="kf_date">August 23rd, 2017</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://news.funzuqiu.com/home/news/detail?nid=790&hidestate=1" target="_blank">
                                            <img src="/upload/index/6a02ccceb6dd4f948c52585d1eefcb41.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://news.funzuqiu.com/home/news/detail?nid=790&hidestate=1" target="_blank">体育保</a></h6>
                                        <p>体育保成为小李子·2020泛足球全国大赛保险独家合作伙伴</p>
                                        <!-- <em class="kf_date">August 23rd, 2017</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://news.funzuqiu.com/home/news/detail?nid=776&hidestate=1" target="_blank">
                                            <img src="/upload/index/24a8f94c3b1f4d62b88b081cc72ed3d3.png" alt="">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://news.funzuqiu.com/home/news/detail?nid=776&hidestate=1" target="_blank">氢活力</a></h6>
                                        <p>氢活力成为小李子·2020泛足球全国大赛指定饮品</p>
                                        <!-- <em class="kf_date">August 23rd, 2017</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://news.funzuqiu.com/home/news/detail?nid=787&hidestate=1" target="_blank">
                                            <img src="/upload/index/0c94d463bc0ee854dea480b6a0aae5d5.png" alt="">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://news.funzuqiu.com/home/news/detail?nid=787&hidestate=1" target="_blank">威习科技</a></h6>
                                        <p>威习科技成为小李子·2020泛足球全国大赛运动防护指定装备</p>
                                        <!-- <em class="kf_date">August 23rd, 2017</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://news.funzuqiu.com/home/news/detail?nid=805&hidestate=1" target="_blank">
                                            <img src="/upload/index/b999a9014c086e06ffc23d3d04087bf40ad1cb5a.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://news.funzuqiu.com/home/news/detail?nid=805&hidestate=1" target="_blank">劲牌</a></h6>
                                        <p>劲牌有限公司成为小李子·2020泛足球全国大赛酒品赞助商</p>
                                        <!-- <em class="kf_date">August 23rd, 2017</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://news.funzuqiu.com/home/news/detail?nid=809&hidestate=1" target="_blank">
                                            <img src="/upload/index/20200612093156.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://news.funzuqiu.com/home/news/detail?nid=809&hidestate=1" target="_blank">可口可乐纯悦</a></h6>
                                        <p>可口可乐纯悦成为小李子·2020泛足联全国大赛合作伙伴</p>
                                        <!-- <em class="kf_date">August 23rd, 2017</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://news.funzuqiu.com/home/news/detail?nid=810&hidestate=1" target="_blank">
                                            <img src="/upload/index/20200617111626.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://news.funzuqiu.com/home/news/detail?nid=810&hidestate=1" target="_blank">食根源</a></h6>
                                        <p>食根源成为小李子·2020泛足联全国大赛餐饮合作伙伴</p>
                                        <!-- <em class="kf_date">August 23rd, 2017</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                            </div>
                        </div>
                        
                        <!--Widget Ranking Start-->
                        <div class="widget widget_recentnews gallery">
                            <!--Heading 1 Start-->
                            <h6 class="kf_hd1">
                                <span>冠军告白</span>
                            </h6>
                            <!--Heading 1 END-->
                            <div class="kf_border">
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=756" target="_blank">
                                            <img src="/upload/index/fa3e2529cc7d46f6a662959fc1385774.png" alt="" style="width: 78px;height: 50px;">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://mp.funzuqiu.com/home/news/detail?nid=756" target="_blank">杭州米兰</a></h6>
                                        <p>19/20豪门协会杯杭州赛区冠军</p>
                                        <!-- <em class="kf_date">2020-5-7</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=758" target="_blank">
                                            <img src="/upload/index/740af1222a5e4b55bdab7b733288e074.png" alt="" style="width: 78px;height: 50px;">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://mp.funzuqiu.com/home/news/detail?nid=758" target="_blank">合肥大耳朵</a></h6>
                                        <p>19/20赛季泛冠合肥赛区冠军</p>
                                        <!-- <em class="kf_date">2020-5-7</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=759" target="_blank">
                                            <img src="/upload/index/16a9233ac9404d799f971dd186879772.png" alt="" style="width: 78px;height: 50px;">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://mp.funzuqiu.com/home/news/detail?nid=759" target="_blank">天津雷诺尔</a></h6>
                                        <p>19/20赛季泛冠天津赛区冠军</p>
                                        <!-- <em class="kf_date">2020-5-7</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=761" target="_blank">
                                            <img src="/upload/index/f6d6d4b6e9534da8ad7bb8d13d3096a8.png" alt="" style="width: 78px;height: 50px;">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://mp.funzuqiu.com/home/news/detail?nid=761" target="_blank">米兰圈兰州战队</a></h6>
                                        <p>19/20豪门协会杯兰州赛区</p>
                                        <!-- <em class="kf_date">2020-5-7</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=762" target="_blank">
                                            <img src="/upload/index/f5256c7371444b768e4a37d50c4a86bc.png" alt="" style="width: 78px;height: 50px;">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://mp.funzuqiu.com/home/news/detail?nid=762" target="_blank">皇马北协</a></h6>
                                        <p>19/20豪门协会杯北京赛区冠军</p>
                                        <!-- <em class="kf_date">2020-5-7</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=763" target="_blank">
                                            <img src="/upload/index/8278466fa2e7409ba0028a1c2c6f7c10.png" alt="" style="width: 78px;height: 50px;">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://mp.funzuqiu.com/home/news/detail?nid=763" target="_blank">四川一鸣</a></h6>
                                        <p>19/20泛足球冠军联赛泛榜冠军</p>
                                        <!-- <em class="kf_date">2020-5-7</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=764" target="_blank">
                                            <img src="/upload/index/6e39907b556041d1bac56aab19c77130.png" alt="" style="width: 78px;height: 50px;">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://mp.funzuqiu.com/home/news/detail?nid=764" target="_blank">西安国际米兰</a></h6>
                                        <p>19/20豪门协会杯西安赛区冠军</p>
                                        <!-- <em class="kf_date">2020-5-7</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=767" target="_blank">
                                            <img src="/upload/index/d04bbc40c2e249c4943e9332156662ce.png" alt="" style="width: 78px;height: 50px;">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://mp.funzuqiu.com/home/news/detail?nid=767" target="_blank">TYFC</a></h6>
                                        <p>19/20赛季泛冠西安赛区冠军</p>
                                        <!-- <em class="kf_date">2020-5-7</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=768" target="_blank">
                                            <img src="/upload/index/24532051c9494d8393a82b602a9e5805.png" alt="" style="width: 78px;height: 50px;">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://mp.funzuqiu.com/home/news/detail?nid=768" target="_blank">湖南德迷</a></h6>
                                        <p>18/19赛季泛冠长沙赛区冠军</p>
                                        <!-- <em class="kf_date">2020-5-7</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=771" target="_blank">
                                            <img src="/upload/index/8b3df2adf78b4d8d8c947f4990278a08.png" alt="" style="width: 78px;height: 50px;">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://mp.funzuqiu.com/home/news/detail?nid=771" target="_blank">广州国米</a></h6>
                                        <p>19/20广州豪门俱乐部七人制杯赛冠军</p>
                                        <!-- <em class="kf_date">2020-5-7</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=766" target="_blank">
                                            <img src="/upload/index/c1d9ce084d3845409d6da7730542166a.png" alt="" style="width: 78px;height: 50px;">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://mp.funzuqiu.com/home/news/detail?nid=766" target="_blank">AC米兰吧山东分舵</a></h6>
                                        <p>18/19泛冠济南赛区冠军</p>
                                        <!-- <em class="kf_date">2020-5-7</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=774" target="_blank">
                                            <img src="/upload/index/98af106c778b49c3b87a9c4f9490fcea.png" alt="" style="width: 78px;height: 50px;">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://mp.funzuqiu.com/home/news/detail?nid=774" target="_blank">重庆巴萨球迷会</a></h6>
                                        <p>19/20豪门协会杯重庆赛区冠军</p>
                                        <!-- <em class="kf_date">2020-5-7</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=775" target="_blank">
                                            <img src="/upload/index/c7013f230e904356accfddf23869606e.png" alt="" style="width: 78px;height: 50px;">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://mp.funzuqiu.com/home/news/detail?nid=775" target="_blank">重庆爱奇艺</a></h6>
                                        <p>18/19泛足球冠军联赛泛榜冠军</p>
                                        <!-- <em class="kf_date">2020-5-7</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=789" target="_blank">
                                            <img src="/upload/index/7f5b6f28f45c424980f7313dc2b901f2.png" alt="" style="width: 78px;height: 50px;">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://mp.funzuqiu.com/home/news/detail?nid=789" target="_blank">绿茵天下</a></h6>
                                        <p>19/20泛冠银川赛区冠军</p>
                                        <!-- <em class="kf_date">2020-5-7</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=814" target="_blank">
                                            <img src="/upload/index/05d72916c9af44c8863288a464b21623.png" alt="" style="width: 78px;height: 50px;">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://mp.funzuqiu.com/home/news/detail?nid=814" target="_blank">兰州海军陆战队</a></h6>
                                        <p>19/20赛季泛冠兰州赛区冠军</p>
                                        <!-- <em class="kf_date">2020-5-7</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                                <!--Recent News Start-->
                                <div class="kf_recentnews">
                                    <figure>
                                        <a href="http://mp.funzuqiu.com/home/news/detail?nid=817" target="_blank">
                                            <img src="/upload/index/5b6aebafc07742ab8f0c944de91c713f.png" alt="" style="width: 78px;height: 50px;">
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <h6><a href="http://mp.funzuqiu.com/home/news/detail?nid=817" target="_blank">重庆珈泽科技</a></h6>
                                        <p>19/20赛季重庆赛区冠军</p>
                                        <!-- <em class="kf_date">2020-5-7</em> -->
                                    </div>
                                </div>
                                <!--Recent News End-->
                            </div>
                        </div>
                        
                        <!--Widget Add 2 Strat
                        <div class="widget widget_add">
                            <div class="add_banner">
                                <a href="#"><img src="/extra-images/add_banner2.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="widget widget_add">
                            <div class="add_banner">
                                <a href="#"><img src="/extra-images/add_banne3.jpg" alt=""></a>
                            </div>
                        </div>
                        Widget Add 3 End-->
                    </aside>
                </div>
            </div>
        </section>
    </div>
    <!--Main Content Wrap End-->
</body>
</html>
