<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/default :: rapid(rapid_head=~{::head}, rapid_content=~{::body})">
<head>
    <title>专题</title>
</head>
<body>
    <!--Inner Banner Start-->
    <div class="innner_banner">
        <div class="container">
            <h3>专题记录</h3>
            <!-- <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">blog</a></li>
                <li class="active"><span>blog grid 2</span></li>
            </ul> -->
        </div>
    </div>
    <!--Inner Banner End-->

    <!--sub nav bar-->
    <div class="my-sub-nav kode_content_wrap">
        <div class="container">
            <!-- <span class="title">赛事介绍</span> -->
            <ul class="nav">
                <li class="active"><a href="#">视频</a></li>
                <!-- <li><a href="#">照片</a></li> -->
            </ul>
        </div>
    </div>
    
    <div class="kode_content_wrap">
        <section class="kf_blog2">
            <div class="container">
                <!--Featured 3 Slider Start-->
                <div class="kf_featured_wrap3">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <!--Featured Slider Start-->
	                        <div class="my-news">
	                            <!--Heading 1 Start-->
	                            <!-- <h6 class="kf_hd1">
	                                <span>热点新闻</span>
	                            </h6> -->
	                            <!--Heading 1 END-->
	                            <div class="">
	                                <div>
	                                    <div class="kf_featured_thumb video">
	                                        <a href="https://v.qq.com/x/page/l0946l8al51.html" target="_blank">
		                                        <figure class="featured-video single">
		                                            <img src="/upload/video/l0946l8al51.jpg" alt="" class="img-responsive">
		                                        </figure>
		                                        <div class="text mini">
		                                            <h6>这一次，只愿你们一切安好 - 泛足球2019年度纪录片</h6>
		                                            <span>7 Apr, 2020</span>
		                                        </div>
		                                        <div class="mask"><span class="video-play"></span></div>
	                                        </a>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--Featured Slider End-->
                        </div>
                        
                        <div class="col-md-3 col-sm-3">
                            <!--Featured Slider Start-->
                            <div class="my-news">
                                <div class="">
                                    <div>
                                        <div class="kf_featured_thumb video">
                                            <a href="https://v.qq.com/x/page/h3053olhusu.html" target="_blank">
                                                <figure class="featured-video single">
                                                    <img src="/upload/video/h3053olhusu.jpg" alt="" class="img-responsive">
                                                </figure>
                                                <div class="text mini">
                                                    <h6>泛祝福 - 全国业余足球鼠年大拜年</h6>
                                                    <span>18 Jun, 2020</span>
                                                </div>
                                                <div class="mask"><span class="video-play"></span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Featured Slider End-->
                        </div>
                        
                        <div class="col-md-3 col-sm-3">
                            <!--Featured Slider Start-->
                            <div class="my-news">
                                <div class="">
                                    <div>
                                        <div class="kf_featured_thumb video">
                                            <a href="https://v.qq.com/x/page/b3053z6tlbe.html" target="_blank">
                                                <figure class="featured-video single">
                                                    <img src="/upload/video/b3053z6tlbe.jpg" alt="" class="img-responsive">
                                                </figure>
                                                <div class="text mini">
                                                    <h6>泛足球年度十佳球</h6>
                                                    <span>17 Jun, 2020</span>
                                                </div>
                                                <div class="mask"><span class="video-play"></span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Featured Slider End-->
                        </div>
                        
                        <div class="col-md-3 col-sm-3">
                            <!--Featured Slider Start-->
                            <div class="my-news">
                                <div class="">
                                    <div>
                                        <div class="kf_featured_thumb video">
                                            <a href="https://v.qq.com/x/page/m3049q9etsj.html" target="_blank">
                                                <figure class="featured-video single">
                                                    <img src="/upload/video/m3049q9etsj.jpg" alt="" class="img-responsive">
                                                </figure>
                                                <div class="text mini">
                                                    <h6>2019年中国业余足球史上三大经典战役（一）</h6>
                                                    <span>10 Jun, 2020</span>
                                                </div>
                                                <div class="mask"><span class="video-play"></span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Featured Slider End-->
                        </div>
                        
                        <div class="col-md-3 col-sm-3">
                            <!--Featured Slider Start-->
                            <div class="my-news">
                                <div class="">
                                    <div>
                                        <div class="kf_featured_thumb video">
                                            <a href="https://v.qq.com/x/page/p304992toq3.html" target="_blank">
                                                <figure class="featured-video single">
                                                    <img src="/upload/video/p304992toq3.jpg" alt="" class="img-responsive">
                                                </figure>
                                                <div class="text mini">
                                                    <h6>2019年中国业余足球史上三大经典战役（二）</h6>
                                                    <span>10 Jun, 2020</span>
                                                </div>
                                                <div class="mask"><span class="video-play"></span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Featured Slider End-->
                        </div>
                        
                        <div class="col-md-3 col-sm-3">
                            <!--Featured Slider Start-->
                            <div class="my-news">
                                <div class="">
                                    <div>
                                        <div class="kf_featured_thumb video">
                                            <a href="https://v.qq.com/x/page/p30490e9m6m.html" target="_blank">
                                                <figure class="featured-video single">
                                                    <img src="/upload/video/p30490e9m6m.jpg" alt="" class="img-responsive">
                                                </figure>
                                                <div class="text mini">
                                                    <h6>2019年中国业余足球史上三大经典战役（三）</h6>
                                                    <span>10 Jun, 2020</span>
                                                </div>
                                                <div class="mask"><span class="video-play"></span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Featured Slider End-->
                        </div>
                        
                        <div class="col-md-3 col-sm-3">
                            <!--Featured Slider Start-->
                            <div class="my-news">
                                <div class="">
                                    <div>
                                        <div class="kf_featured_thumb video">
                                            <a href="https://v.qq.com/x/page/x3024438oz1.html" target="_blank">
                                                <figure class="featured-video single">
                                                    <img src="/upload/video/x3024438oz1.jpg" alt="" class="img-responsive">
                                                </figure>
                                                <div class="text mini">
                                                    <h6>2019/20豪门协会杯北京赛区决赛宣传片</h6>
                                                    <span>11 Nov, 2019</span>
                                                </div>
                                                <div class="mask"><span class="video-play"></span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Featured Slider End-->
                        </div>
                        
                        <div class="col-md-3 col-sm-3">
                            <!--Featured Slider Start-->
                            <div class="my-news">
                                <div class="">
                                    <div>
                                        <div class="kf_featured_thumb video">
                                            <a href="https://v.qq.com/x/page/z30153leqad.html" target="_blank">
                                                <figure class="featured-video single">
                                                    <img src="/upload/video/z30153leqad.jpg" alt="" class="img-responsive">
                                                </figure>
                                                <div class="text mini">
                                                    <h6>发现球场 - 沈阳1980室内足球场</h6>
                                                    <span>30 Oct, 2019</span>
                                                </div>
                                                <div class="mask"><span class="video-play"></span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Featured Slider End-->
                        </div>
                        
                        <div class="col-md-3 col-sm-3">
                            <!--Featured Slider Start-->
                            <div class="my-news">
                                <div class="">
                                    <div>
                                        <div class="kf_featured_thumb video">
                                            <a href="https://v.qq.com/x/page/o0909y80fjm.html" target="_blank">
                                                <figure class="featured-video single">
                                                    <img src="/upload/video/o0909y80fjm.jpg" alt="" class="img-responsive">
                                                </figure>
                                                <div class="text mini">
                                                    <h6>中国最强业余足球赛事来自这里</h6>
                                                    <h2></h2>
                                                    <span>6 Aug, 2019</span>
                                                </div>
                                                <div class="mask"><span class="video-play"></span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Featured Slider End-->
                        </div>
                        
                    </div>
                </div>
                <!--Featured 3 Slider End-->
            </div>
        </section>
    </div>
    <!--Main Content Wrap End-->
</body>
</html>
