<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/default :: rapid(rapid_head=~{::head}, rapid_content=~{::body})">
<head>
    <title>全国大赛</title>
</head>
<body>
    <!--Inner Banner Start-->
    <div class="innner_banner">
        <div class="container">
            <h3>全国大赛</h3>
            <!-- <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">blog</a></li>
                <li class="active"><span>blog grid 2</span></li>
            </ul> -->
        </div>
    </div>
    <!--Inner Banner End-->

    <!--sub nav bar-->
    <div class="my-sub-nav kode_content_wrap">
        <div class="container">
            <!-- <span class="title">赛事介绍</span> -->
            <ul class="nav">
                <li><a href="/league/quanguodasai/introduce">简介</a></li>
                <li><a href="/league/quanguodasai/data">数据</a></li>
                <li class="active"><a href="/league/quanguodasai/collection">精彩集锦</a></li>
            </ul>
        </div>
    </div>
    
    <div class="kode_content_wrap">
        <section class="kf_blog2">
            <div class="container">
                <!--Featured 3 Slider Start-->
                <div class="kf_featured_wrap3">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <!--Featured Slider Start-->
	                        <div class="my-news">
	                            <!--Heading 1 Start-->
	                            <!-- <h6 class="kf_hd1">
	                                <span>热点新闻</span>
	                            </h6> -->
	                            <!--Heading 1 END-->
	                            <div class="">
	                                <div>
	                                    <div class="kf_featured_thumb video">
	                                        <a href="https://v.qq.com/x/page/i0896d3wls6.html" target="_blank">
		                                        <figure class="featured-video single">
		                                            <img src="/upload/video/i0896d3wls6.jpg" alt="" class="img-responsive">
		                                        </figure>
		                                        <div class="text mini">
		                                            <h6>全国大赛纪录片 - 信仰在空中飘扬</h6>
		                                            <h2></h2>
		                                            <span>9 Jul, 2019</span>
		                                        </div>
		                                        <div class="mask"><span class="video-play"></span></div>
	                                        </a>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--Featured Slider End-->
                        </div>
                        
                        <div class="col-md-3 col-sm-3">
                            <!--Featured Slider Start-->
                            <div class="my-news">
                                <div class="">
                                    <div>
                                        <div class="kf_featured_thumb video">
                                            <a href="https://v.qq.com/x/page/y0649ejuwjp.html" target="_blank">
                                                <figure class="featured-video single">
                                                    <img src="/upload/video/y0649ejuwjp.jpg" alt="" class="img-responsive">
                                                </figure>
                                                <div class="text mini">
                                                    <h6>纪录片 - 李宁杯·2018泛足球全国大赛</h6>
                                                    <h2></h2>
                                                    <span>10 Mar, 2018</span>
                                                </div>
                                                <div class="mask"><span class="video-play"></span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Featured Slider End-->
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <!--Featured Slider Start-->
                            <div class="my-news">
                                <div class="">
                                    <div>
                                        <div class="kf_featured_thumb video">
                                            <a href="https://v.qq.com/x/page/z05116gmmi8.html" target="_blank">
                                                <figure class="featured-video single">
                                                    <img src="/upload/video/z05116gmmi8.jpg" alt="" class="img-responsive">
                                                </figure>
                                                <div class="text mini">
                                                    <h6>青春与梦想 - 泛足球2017全国大赛纪录片</h6>
                                                    <h2></h2>
                                                    <span>6 Jun, 2017</span>
                                                </div>
                                                <div class="mask"><span class="video-play"></span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Featured Slider End-->
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <!--Featured Slider Start-->
                            <div class="my-news">
                                <div class="">
                                    <div>
                                        <div class="kf_featured_thumb video">
                                            <a href="https://v.qq.com/x/page/b0198u3gjg4.html" target="_blank">
                                                <figure class="featured-video single">
                                                    <img src="/upload/video/b0198u3gjg4.jpg" alt="" class="img-responsive">
                                                </figure>
                                                <div class="text mini">
                                                    <h6>第一届全国大赛 - 点球决战</h6>
                                                    <h2></h2>
                                                    <span>9 Mar, 2016</span>
                                                </div>
                                                <div class="mask"><span class="video-play"></span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Featured Slider End-->
                        </div>
                    </div>
                </div>
                <!--Featured 3 Slider End-->
            </div>
        </section>
    </div>
    <!--Main Content Wrap End-->
</body>
</html>
